<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p class="site-desc">{{ site.description }}</p>
      </div>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container">Made with ❤️ — handbook</div>
    </footer>
    <script src="{{ '/assets/js/filter.js' | relative_url }}"></script>
  </body>
</html>