---
layout: default
---
<article class="topic">
  <header>
    <h2>{{ page.title }}</h2>
    {% if page.category %}
      <p class="meta">Category: <a href="{{ '/categories/' | append: page.category | slugify | relative_url }}">{{ page.category }}</a></p>
    {% endif %}
  </header>

  <section class="topic-body">
    {{ content }}
  </section>

  {% if page.tags %}
  <footer class="topic-footer">
    <p>Tags: {% for t in page.tags %}<span class="tag">{{ t }}</span>{% if forloop.last == false %}, {% endif %}{% endfor %}</p>
  </footer>
  {% endif %}
</article>